extends layout.pug

block content
  main#main.inner
    .container
      .post
        .img
          img(src=`/static/uploads/${ post.post_image }` alt='')
        .desc
          h2= post.post_title
          p
            span Author: 
            | #{ post.post_author } 
          p
            span Date: 
            | #{ post.post_date }
          p.text #{ post.post_content }
      a.delete(href=`/delete/${ post.id }`) DELETE THIS POST
  